<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CAR'S{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('layouts/partials/_flash_messages.html.twig') }}

        {{ include('layouts/partials/_nav.html.twig') }}
        
        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>

        {{ include('layouts/partials/_footer.html.twig') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
