<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
  <div class="container">
      <strong><a class="navbar-brand" href="{{ path('app_home') }}">Travel Plan</a></strong>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav ml-auto">
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_offers_create') }}">New Pin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account') }}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Logout</a>
          </li>

          <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
          </form>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
