{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Offer #' ~ offer.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edit Pin #{{ offer.id }}</h1>

            {{ include('offers/_form.html.twig', {'submitButtonText': 'Update Offer'}) }}
        </div>
    </div>
{% endblock %}
