{% extends 'layouts/base.html.twig' %}

{% block title offer.title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <article class="pin bg-white rounded shadow">
                {#<div class="mw-100 rounded-top overflow-hidden">
                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100" />
                </div>#}

                <div class="p-3">
                    <h1 class="h5 text-secondary">{{ offer.title }}</h1>

                    <p class="text-muted">
                        <small>
                            Submitted 
                            <time datetime="{{ offer.createdAt|date('Y-m-d H:i:s') }}">{{ offer.createdAt|ago }}</time>
                            by {{ offer.user.fullName }}
                        </small>
                    </p>

                    <p class="pt-3 text-break">
                        {{ offer.description }}
                    </p>

                    {#{% if is_granted('PIN_MANAGE', pin) %}#}
                    <div class="pt-3">
                        <a href="{{ path('app_offers_edit', {'id': offer.id}) }}" class="btn btn-light">Edit</a>
                        <a href="#" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Delete</a>

                        <form id="js-pin-delete-form" action="{{ path('app_offers_delete', {id: offer.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('offer_deletion_' ~ offer.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                        </form> 
                    </div>
                    {#{% endif %}#}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
